@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');
#root {
  font-family: "Sora", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

textarea:active,
textarea:focus {
  outline: none;
  border: none;
}